<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <connectionStrings>
      <add name="StringConexao"
           connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\G6\Documents\GitHub\Cadastro_Moradores\Cadastro_Moradores_Condominio\Cadastro_Moradores_Condominio\BD\BD_CadastroMoradores.mdf;Integrated Security=True;User Instance=True"
           providerName="System.Data.SqlClient"/>

    </connectionStrings>
 
</configuration>